/* FOOTER SECTION */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.7rem;
}


footer p {
  padding-top: 20px;
  margin-top: 60px;
}


footer .nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

footer a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

footer a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}





/* media screen */






@media screen and (max-width: 800px) {
  
  footer {
    height: 40vh;
  }

  footer {
    height: fit-content;
    margin-bottom: 2rem;
  }


  footer .nav-links li a {
    font-size: 1rem;
  }

  footer .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}

