/* GENERAL STYLES */


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


/* VARIABLES */

:root {
  --color-text: rgb(85, 85, 85);
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --background-color: #f0f0f0;
}


p {
  color: var(--color-text);
}


/* APP */

.App {

  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background-color: var(--background-color);
}


/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}



/* media screen */


@media screen and (max-width: 1200px) {

    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
  }
  

  
  

     
    